Repository leok974/leo-portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: seo-meta, html, automation

.github/labeler.yml:

# Apply labels automatically based on files in the PR.
seo-meta:
  - changed-files:
      - any-glob-to-any-file: agent/artifacts/seo-meta-apply/**
  - changed-files:
      - any-glob-to-any-file: agent/artifacts/seo-meta/**
html:
  - changed-files:
      - any-glob-to-any-file: public/**/*.html
      - any-glob-to-any-file: dist/**/*.html
automation:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
      - any-glob-to-any-file: scripts/**

fix: install missing @radix-ui/react-alert-dialog dependency
  package-lock.json
  package.json
Labels: none

feat(analytics): Phase 51.0 operational (nightly insights + RAG)
  .github/workflows/analytics-nightly.yml
  .github/workflows/analytics-pr-comment.yml
  .gitignore
  CHANGELOG.md
  Makefile
  PHASE_51.0_COMPLETE.md
  PHASE_51.0_PR_TEMPLATE.md
  PHASE_51.0_QUICKSTART.md
  PHASE_51.0_SUMMARY.md
  analytics/__init__.py
  analytics/collectors/__init__.py
  analytics/collectors/kpi_extractor.py
  analytics/collectors/nightly_loader.py
  analytics/collectors/trend_detector.py
  analytics/pipeline.py
  analytics/rag/__init__.py
  analytics/rag/embedder_local.py
  analytics/rag/query_engine.py
  analytics/summarizers/__init__.py
  analytics/summarizers/insight_llm.py
  analytics/summarizers/report_builder.py
  assistant_api/main.py
  assistant_api/routers/analytics_insights.py
  docs/API.md
  reports/playwright/sample-2025-10-09.json
  reports/prometheus/sample-2025-10-09.json
  reports/seo/sample-2025-10-09.json
  scripts/analytics.ps1
Labels: automation

docs(changelog): clarify gpt-oss:20b model configuration
  CHANGELOG.md
Labels: none

test(e2e): improve Playwright stability
  playwright.config.ts
  tests/e2e/analytics.smoke.spec.ts
  tests/e2e/fixtures/network.ts
  tests/e2e/setup/analytics.setup.ts
Labels: none

docs(phase51): add deployment summary with test results
  PHASE_51.0_DEPLOYMENT_SUMMARY.md
Labels: none

fix(e2e): eliminate consent banner and assistant chip blockers
  .env.test
  PHASE_51.0_DEPLOYMENT_SUMMARY.md
  agent/artifacts/seo-meta-apply/index-html.apply.json
  agent/artifacts/seo-meta-apply/index-html.diff
  agent/artifacts/seo-meta-apply/index-html.preview.html
  agent/artifacts/seo-meta/index-html.json
  agent/artifacts/seo-tune.md
  agent_artifacts/1760025226_layout-optimize.json
  agent_artifacts/1760025227_layout-optimize.json
  agent_artifacts/1760025400_layout-optimize.json
  agent_artifacts/1760025402_layout-optimize.json
  agent_artifacts/seo-keywords.json
  agent_artifacts/seo-keywords.md
  agent_artifacts/seo-tune.json
  agent_artifacts/seo-tune.md
  assistant_api/deps/__init__.py
  assistant_api/deps/auth.py
  playwright.config.ts
  public/assets/js/consent.js
  public/tmp-e2e/index.html
  src/assistant-dock.ts
  src/components/LayoutAgentPanel.tsx
  src/components/WeightsEditor.e2e.tsx
  src/lib/e2e.ts
  src/main.ts
  tests/e2e/analytics.smoke.spec.ts
  tests/e2e/fixtures/network.ts
  tests/e2e/setup/analytics.setup.ts
Labels: seo-meta, html

docs(e2e): add test fixes summary with results
  E2E_TEST_FIXES_SUMMARY.md
Labels: none

fix(e2e): final hardening - beacons, API routing, feature gates, animations
  E2E_TEST_FIXES_SUMMARY.md
  assistant_api/deps/auth.py
  assistant_api/main.py
  assistant_api/routers/analytics_events.py
  src/components/LayoutAgentPanel.tsx
  src/components/WeightsEditor.e2e.tsx
  src/lib/analyticsBeacon.ts
  src/lib/api.ts
  src/lib/devGuard.ts
  tests/e2e/fixtures/network.ts
  vite.config.ts
Labels: none

docs(e2e): update summary with final hardening details (all 5 parts complete)
  E2E_TEST_FIXES_SUMMARY.md
Labels: none

fix(e2e): fix network fixture animation disable timing
  agent/artifacts/seo-meta-apply/index-html.apply.json
  agent/artifacts/seo-meta/index-html.json
  agent/artifacts/seo-tune.md
  agent_artifacts/1760028245_layout-optimize.json
  agent_artifacts/1760028250_layout-optimize.json
  agent_artifacts/1760028430_layout-optimize.json
  agent_artifacts/1760028432_layout-optimize.json
  agent_artifacts/seo-keywords.json
  agent_artifacts/seo-keywords.md
  agent_artifacts/seo-tune.json
  agent_artifacts/seo-tune.md
  tests/e2e/fixtures/network.ts
Labels: seo-meta

docs(e2e): add comprehensive final status report
  E2E_HARDENING_FINAL_STATUS.md
Labels: none

fix(e2e): export request fixture from test.base
  tests/e2e/test.base.ts
Labels: none

docs(e2e): add success summary - 88% failure reduction achieved
  E2E_HARDENING_SUCCESS.md
Labels: none

feat(e2e): final E2E hardening - API mocks, beacon events, page-ready markers
  agent-tools.html
  assistant_api/main.py
  assistant_api/routers/test_mocks.py
  book.html
  completed.html
  index.html
  src/lib/analyticsBeacon.ts
  tests/e2e/fixtures/api-mocks.ts
  tests/e2e/test.base.ts
  tools.html
Labels: none

chore(siteagent): apply approved artifacts
  agent/artifacts/smoke-test.md
  agent/artifacts/test-artifact.md
  analytics/outputs/.gitkeep
  analytics/outputs/insight-summary.md
  analytics/outputs/trend-report.json
  analytics/rag/vector_store.sqlite
  assistant_api/main.py
  assistant_api/routers/agent_act.py
  seo-meta-apply/index-html.apply.json
  seo-meta-apply/index-html.diff
  seo-meta-apply/index-html.preview.html
  seo-meta/index-html.json
  seo-tune.diff
  seo-tune.md
  smoke-test.md
  status.json
  test-artifact.md
Labels: none

feat(llm): add resilient LLM router with primary→fallback
  assistant_api/.env.example
  assistant_api/llm/router.py
  assistant_api/routers/agent_act.py
  docs/LLM_ROUTER.md
  tests/test_llm_router.py
Labels: none

fix(agent): remove duplicate Path import causing UnboundLocalError
  assistant_api/routers/agent_act.py
Labels: none

feat(pr-automation): add UI button, E2E tests, and CI permissions
  .github/workflows/backend-tests.yml
  .github/workflows/e2e-hermetic.yml
  assistant_api/routers/agent_act.py
  src/api.ts
  src/features/dev/DevPagesPanel.tsx
  tests/e2e/pr-automation.spec.ts
Labels: automation

test(e2e): update PR automation tests to handle all response codes
  tests/e2e/pr-automation.spec.ts
Labels: none

feat(pr): implement branch reuse strategy with PR updates
  .github/workflows/delete-merged-branch.yml
  .github/workflows/prune-stale-siteagent-branches.yml
  assistant_api/routers/agent_act.py
  src/features/dev/DevPagesPanel.tsx
Labels: automation

feat(pr): add comprehensive branch hygiene system
  .github/workflows/auto-merge-siteagent.yml
  .github/workflows/delete-merged-branch.yml
  .github/workflows/prune-stale-siteagent-branches.yml
  .github/workflows/siteagent-meta-auto.yml
  .github/workflows/siteagent-nightly-pr.yml
  .github/workflows/siteagent-nightly.yml
  .github/workflows/siteagent-pr-via-backend.yml
  README.md
  assistant_api/routers/agent_act.py
  docs/SITEAGENT_BRANCH_HYGIENE.md
Labels: automation

feat(tests): add test mode support to fix failing tests
  .github/workflows/auto-merge-siteagent.yml
  assistant_api/main.py
  assistant_api/routers/agent_act.py
  assistant_api/routers/agent_public.py
  assistant_api/settings.py
  assistant_api/util/testmode.py
  assistant_api/utils/cf_access.py
  docs/SITEAGENT_BRANCH_HYGIENE.md
  pytest.ini
Labels: automation

feat(tests): complete test mode infrastructure for 6/8 passing tests
  assistant_api/main.py
  assistant_api/routers/agent_public.py
  assistant_api/settings.py
  assistant_api/util/testmode.py
  assistant_api/utils/cf_access.py
Labels: none

feat(tests): achieve 8/8 passing tests - complete test mode infrastructure
  assistant_api/main.py
  assistant_api/routers/agent_public.py
Labels: none

docs(tests): add comprehensive route hardening guide for test mode
  docs/ROUTE_HARDENING_GUIDE.md
Labels: none

ci: update e2e strict (nginx) badge
  .github/badges/e2e-strict-nginx.json
Labels: none

ci: update E2E full-stack badge
  .github/badges/e2e-fullstack.json
Labels: none

feat(e2e): improve CSV testing with deterministic href validation
  .github/workflows/e2e.yml
  COMMIT_MESSAGE_E2E_IMPROVEMENTS.txt
  E2E_IMPROVEMENTS_SUMMARY.md
  E2E_TESTS_LOCKED.md
  scripts/projects.sync.mjs
  scripts/seo.tune.mjs
  src/components/OpsAgents.tsx
  tests/e2e/README.md
  tests/e2e/ops-agents.spec.ts
Labels: automation

chore(ci): update E2E strict badge
  .github/badges/e2e-strict.json
Labels: none

infra: add safe label-gated rollback executor
  .github/workflows/infra-rollback.yml
  INFRA_ORCHESTRATOR_IMPLEMENTATION.md
  INFRA_ORCHESTRATOR_QUICKREF.md
  INFRA_SCALE_ORCHESTRATOR.md
  package.json
  scripts/infra.rollback.mjs
  tests/infra.rollback.spec.ts
Labels: automation

docs: comprehensive rollback system summary
  INFRA_ROLLBACK_COMPLETE.md
Labels: none

infra: improve rollback executor with PR comments
  .github/workflows/infra-rollback.yml
  INFRA_ROLLBACK_COMPLETE.md
  scripts/infra.rollback.mjs
Labels: automation

docs: update rollback summary with PR comment feature
  INFRA_ROLLBACK_COMPLETE.md
Labels: none

infra: add PR checklist and chat commands for plan approval
  .github/workflows/plan-commands.yml
  scripts/infra.scale.mjs
Labels: automation

docs: comprehensive PR checklist and commands documentation
  INFRA_CHECKLIST_COMMANDS_COMPLETE.md
  INFRA_ORCHESTRATOR_QUICKREF.md
Labels: none

infra: add PR body summarizer with actions table
  INFRA_CHECKLIST_COMMANDS_COMPLETE.md
  scripts/infra.scale.mjs
  tests/infra.prbody.spec.ts
Labels: automation

infra: add replica detection with safe fallback
  INFRA_ORCHESTRATOR_QUICKREF.md
  scripts/infra.scale.mjs
  scripts/planners/k8s-planner.mjs
  tests/infra.prbody.spec.ts
Labels: automation

docs: add comprehensive replica detection guide
  INFRA_REPLICA_DETECTION.md
Labels: none

docs: add replica detection quick reference
  INFRA_DETECTION_QUICKREF.md
Labels: none

docs: update quickref with detection feature
  INFRA_ORCHESTRATOR_QUICKREF.md
Labels: none
